{% extends 'base.html' %}

{% block content %}

<div class="login-window">
    <div class="dashboard-login">
        <form method="POST">
            {% csrf_token %}
            <div class="stupid-box">
                <span class="material-icons-sharp"> person </span>
                <input class="text-input" type="text" placeholder="Brukernavn"><br>
            </div>
            <div class="stupid-box">
                <span class="material-icons-sharp"> lock </span>
                <input class="text-input" type="password" placeholder="Password"><br>
            </div>
            <input class="btn" type="submit" value="LOGG INN"><br>

            <div class="login-options">
                <input id="remember-me" class="checkbox" type="checkbox">
                <label for"remember-me" class="remember-me-txt">Husk meg</label>
                <a class="forgot-password" href="#">Glemt passord?</a>
            </div>
        </form>


    </div>
</div>



{% endblock %}